.bannercard {
    background-image: url(https://images.unsplash.com/photo-1581578731548-c64695cc6952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
  }
  .cardbtn {
    background-color: #0000004d;
    color: #fff;
    width: 40%;
    font-size: 12px;
  }
  .title {
    font-size: 13px;
  }