/* Adjustments for dropdown items */
.dropdown-item {
  font-weight: 400 !important;
  color: #75818D !important;
  padding: 0.5rem 1rem !important; /* Adjust padding as needed */
}

/* Adjustments for dropdown menu */
.dropdown-menu {
  width: 100% !important;
}

/* Adjustments for dropdown title */
.dropdown-toggle::after {
  margin-left: 0.5rem;
}

/* Additional styling for Clean Filter buttons */
button.clean-filter {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
